 /* ------------font poppins------
 ----------------------------------- */
 @import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,500;1,500&display=swap');
 /*                         
 ---------comont style     
 -------------------------------*/
 body{
  font-family: 'Poppins', sans-serif;
  background-color: #AAAAAA;
  

 }
 .all{
  width: 90%;
  margin: 0 5% ;
  
 }
 /* .container-width{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 } */
 .container-width{
  
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;

 }

/* ------------navaication part ---
--------------------------------------*/

nav{
 display: flex;
 justify-content: center;
 margin-left: 8px;
 margin-right: 8px;


}
.all-rap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600px;
  margin-top: 95px;
  width: 100%;
}
.link-manu{
  margin-right: 3px;
}
.link-manu a{
  text-decoration: none;
  margin-right: 34px;
  color:#3A3A3A;
  font-size:16px;
  font-weight: 600px;

}
/* top banner work */
.top-banner{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information{
  width: 45%;
  margin-left: 100px;
}
.main-header{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 45px;
}
.top-articale{
  font-size: 16px;
  margin-bottom: 16px;
}
.button{
  display: inline-block;
  text-decoration: none;
  background-color: #E02C6D;
  padding: 10px 24px;
  border-radius: 41px;
  color:azure
}
.main-img{
  width:45%;
  margin-left: 100px;
}
/* section online mark*/
.soponsor-ship{
  width: 80%;
  margin-top: 100px;
  display: flex;
 align-items: center;
 margin-left: 10%;
}
.center-aling{
 padding: 0 15px ;
 margin-left: 10px;
 margin-bottom: 100px;

}
/* photo gellary  */
.container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-raper{
  width: 80%;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap:10px;
 margin-top: 10px;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.thumline{
  width: 300px;
  height: 256px;

}
.thumline img {
   width: 100%;
  border-radius: 5px;
}
.ditails{
  margin-top: 10px;
}
.marigin-zero{
 margin: 0;
}